extends ../layout

block content
    style(type="text/css").
        body {

        }
        table,th{
            border: 2px solid black;
            margin: 0 auto;
            text-align: center
        }
        td {
            border: 1px solid black;
            padding:15px
        }

    table
        tr
            //td= "ID"
            th= "Name"
            th= "Type"
        each sport in allSports
            tr
                //td= sport.id
                td= sport.name
                td= sport.type
        else
            tr
                td= "No Sports are updated yet"
    //ul
    //    each sport in allSports
    //        li= sport.id
    //        li= sport.name
    //        li= sport.type
    //    else
    //        li There are no sports...!

